<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BistroDrive</title>
    @Styles.Render("~/Content/css")
    
     @*@Scripts.Render("~/bundles/modernizr")*@
        <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"8af8f706-17ad-47f5-892d-cbd89fd6fee7"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
    </head>
<body>
    <div class="container">
        @*  @Html.ActionLink("BistroDrive", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        <div class="row header">
            <div class="col-md-4">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 495.425 135.294">
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#737373" d="M220.638 111.83v8.877c1.348.736 2.775 1.318 4.227 1.81 1.98.676 4.014 1.195 6.063 1.612 2.43.497 4.892.854 7.36 1.115 3.8.405 7.62.574 11.442.615.42.003.842.005 1.262.005 6.35-.013 12.733-.354 18.983-1.523 1.91-.357 3.807-.794 5.668-1.35 1.82-.547 3.61-1.21 5.307-2.073l.235-.128.14-.076-.064-8.863c-1.72.556-3.477 1.017-5.242 1.42-7.163 1.628-14.52 2.26-21.854 2.44-1.057.018-2.115.03-3.172.033-1.4-.005-2.795-.018-4.19-.058-6.008-.167-12.023-.695-17.932-1.81-2.385-.454-4.755-1-7.082-1.696-.384-.113-.77-.232-1.15-.353zm22.764-1.342c1.84.1 3.683.16 5.527.185 3.214.046 6.43-.01 9.644-.185-.142-5.833.005-11.67.005-17.506.01-.402.09-.79.275-1.148.14-.276.33-.524.56-.73.23-.208.5-.373.788-.484.245-.094.508-.15.774-.164.893-.046 1.766.4 2.254 1.148.244.377.37.802.406 1.247.15 5.75.013 11.505.003 17.257 3.95-.382 7.888-.97 11.75-1.88 1.567-.368 3.122-.79 4.65-1.297.395-.13.79-.263 1.184-.407l-.34-47.017c1.64-.245 3.287-.458 4.92-.74.304-.055.603-.115.904-.186 1.632-.392 3.197-1.017 4.64-1.877 3.247-1.943 5.776-5.02 6.955-8.625.384-1.18.622-2.403.71-3.64.105-1.48 0-2.977-.325-4.426-.362-1.616-.99-3.172-1.85-4.588-1.023-1.69-2.366-3.182-3.935-4.383-1.713-1.312-3.683-2.278-5.767-2.827-2.378-.63-4.872-.706-7.29-.28l-.207.04-4.433.894c-.594-1.546-1.174-3.11-1.796-4.654-.877-2.13-2-4.156-3.4-5.99-2.32-3.038-5.37-5.494-8.9-6.984-5.9-2.492-12.735-2.156-18.638.156-.98.382-1.94.822-2.87 1.315-1.203.636-2.356 1.36-3.45 2.17-2.57 1.9-4.812 4.276-6.43 7.046-.472.815-.884 1.66-1.243 2.53l-.082.2-1.626 4.21c-1.543-.313-3.083-.64-4.63-.935-1.82-.318-3.68-.358-5.508-.085-3.822.57-7.388 2.502-9.918 5.426-1.5 1.73-2.618 3.785-3.23 5.993-.417 1.508-.594 3.076-.54 4.64.052 1.582.34 3.16.905 4.645.46 1.214 1.104 2.357 1.903 3.384 1.012 1.295 2.266 2.393 3.66 3.263 1.98 1.23 4.212 1.983 6.5 2.368l.193.03 4.535.67v48.206c1.94.727 3.942 1.28 5.955 1.757 3.03.71 6.106 1.222 9.192 1.6.847.103 1.695.194 2.542.277-.23-8.233.017-16.474.017-24.71.013-.374.08-.736.24-1.078.137-.288.326-.55.556-.766.195-.182.415-.33.655-.445.777-.364 1.707-.306 2.433.154.224.14.426.318.595.523.235.286.407.622.5.98.04.158.06.312.074.47.263 8.414.007 16.837.002 25.255zm42.894-1.62l.106 14.467c-.258.26-.556.486-.855.7-.536.39-1.105.737-1.685 1.06-1.958 1.09-4.065 1.893-6.197 2.566-1.245.396-2.51.73-3.78 1.028-1.954.458-3.93.822-5.918 1.115-4.975.736-10.004 1.032-15.032 1.108-.648.01-1.295.01-1.945.014-5.064-.01-10.133-.235-15.16-.87-3.59-.455-7.17-1.113-10.645-2.13-2.226-.65-4.424-1.447-6.483-2.514-.668-.347-1.318-.723-1.94-1.143-.407-.276-.807-.57-1.16-.908l-.024-.024V62.63c-.32-.05-.637-.1-.954-.155-.928-.175-1.85-.392-2.752-.668-1.943-.594-3.807-1.444-5.507-2.555-1.81-1.18-3.427-2.658-4.738-4.38-1.05-1.38-1.897-2.91-2.512-4.53-.73-1.928-1.13-3.972-1.222-6.03-.1-2.156.137-4.32.713-6.4.835-3.01 2.373-5.808 4.444-8.142 2.02-2.28 4.538-4.108 7.323-5.337 2-.88 4.133-1.454 6.303-1.697 2.31-.255 4.636-.134 6.91.326.096-.256.197-.508.3-.76.502-1.173 1.08-2.306 1.744-3.394 2.082-3.405 4.932-6.31 8.198-8.592 4.65-3.248 10.163-5.266 15.816-5.75 3.49-.298 7.037-.014 10.41.95 1.197.34 2.368.77 3.504 1.275 2.22.992 4.297 2.295 6.164 3.856 1.798 1.502 3.397 3.238 4.768 5.137 1.62 2.24 2.906 4.7 3.898 7.28.273-.056.544-.106.817-.154.832-.138 1.667-.234 2.51-.277 2.34-.122 4.7.13 6.96.756 2.72.753 5.282 2.048 7.5 3.79 2.046 1.61 3.794 3.598 5.115 5.84 1.163 1.977 1.993 4.147 2.436 6.398.392 2.003.48 4.065.266 6.096-.175 1.636-.55 3.248-1.113 4.793-.894 2.446-2.262 4.712-3.995 6.655-1.533 1.717-3.346 3.18-5.347 4.318-1.566.888-3.243 1.578-4.98 2.05-.852.23-1.717.403-2.59.535l.316 43.54.008.024c.146.47.14.974.004 1.44z" />
                        <path fill="#20A8FF" d="M36.852 101.314H9.184V89.607h4.254V64.12H9.184V52.41h29.883c5.86 0 10.395.34 13.605 1.02 3.164.703 5.648 2.098 7.453 4.184 1.805 2.133 2.707 4.618 2.707 7.453 0 2.765-.855 4.968-2.566 6.608-1.758 1.688-3.89 2.86-6.398 3.516 3.445 1.032 6.094 2.625 7.945 4.78 1.875 2.204 2.813 4.677 2.813 7.42 0 3.28-1.055 6.07-3.164 8.366-2.11 2.273-5.004 3.762-8.684 4.465-3.634.726-8.942 1.09-15.926 1.09zm-4.5-38.18v8.93h4.184c2.836 0 4.7-.41 5.59-1.23.844-.82 1.266-1.898 1.266-3.234 0-1.148-.387-2.18-1.16-3.094s-2.895-1.37-6.363-1.37H32.35zm0 17.824v9.633h4.254c2.72 0 4.676-.35 5.87-1.054 1.173-.703 1.76-1.945 1.76-3.727 0-1.665-.528-2.896-1.583-3.692-1.055-.773-3.094-1.16-6.117-1.16h-4.184zM94.19 101.314H70.04V90.59h3.515V77.936H70.04V67.212h21.198v23.38h2.953v10.722zM72.08 57.58c0-1.85.95-3.34 2.848-4.465 1.875-1.125 4.195-1.688 6.96-1.688 2.837 0 5.122.586 6.856 1.758 1.71 1.195 2.566 2.65 2.566 4.36 0 1.85-.89 3.316-2.672 4.394-1.805 1.1-4.078 1.65-6.82 1.65-2.79 0-5.11-.503-6.96-1.51-1.852-.985-2.778-2.484-2.778-4.5zM111.91 101.736h-10.934V90.908h10.23c2.625 2.766 5.496 4.148 8.613 4.148 3.14 0 4.71-.645 4.71-1.934 0-.656-.34-1.16-1.02-1.512-.703-.375-2.566-.926-5.59-1.652-2.438-.656-5.133-1.418-8.086-2.285-2.555-.726-4.57-1.64-6.047-2.742-1.523-1.1-2.543-2.18-3.06-3.233-.562-1.055-.843-2.438-.843-4.148 0-3.774 1.336-6.552 4.008-8.333 2.648-1.758 6.012-2.637 10.09-2.637 4.22 0 7.758.797 10.617 2.39v-1.757h10.792v9.914h-9.984c-2.484-2.367-5.438-3.55-8.86-3.55-2.694 0-4.042.714-4.042 2.144 0 .68.398 1.126 1.195 1.337.68.21 2.93.715 6.75 1.512 4.337.913 7.724 1.827 10.16 2.74 2.415.915 4.23 2.123 5.45 3.622 1.195 1.5 1.793 3.34 1.793 5.52 0 3.938-1.465 6.844-4.395 8.72-2.906 1.85-6.492 2.776-10.758 2.776-4.242 0-7.84-.773-10.793-2.32v2.108zM171.324 88.87v10.476c-1.148.773-2.813 1.454-4.992 2.04-2.297.608-4.5.913-6.61.913-2.647 0-4.92-.435-6.82-1.302-1.944-.89-3.41-2.086-4.394-3.586-.54-.867-.938-1.658-1.195-2.373-.258-.716-.445-1.518-.563-2.41-.164-1.546-.246-4.534-.246-8.964v-5.73h-4.36V67.212h4.36v-5.238l17.684-8.402v13.64h7.137v10.724h-7.137v6.61c0 2.156.2 3.597.598 4.323.375.726 1.172 1.09 2.39 1.09 1.148-.002 2.53-.365 4.148-1.09zM203.81 101.314h-27.493V90.59h4.64V77.936h-4.64V67.212h21.164v8.543c.798-2.132 2.028-3.973 3.692-5.52 1.594-1.523 3.21-2.52 4.852-2.988 1.57-.445 3.88-.668 6.926-.668v15.01c-.398-.022-.89-.034-1.477-.034-3.61 0-6.293.364-8.05 1.09-1.83.75-3.07 1.735-3.728 2.953-.68 1.265-1.03 2.93-1.055 4.99h5.168v10.724zM216.113 84.087c0-5.015 2.11-9.246 6.328-12.69s9.915-5.17 17.087-5.17c7.22 0 13.09 1.666 17.613 4.993 4.523 3.328 6.785 7.664 6.785 13.008 0 5.156-2.156 9.457-6.47 12.902-4.31 3.445-10.007 5.168-17.085 5.168-7.64 0-13.594-1.723-17.86-5.168-4.264-3.422-6.397-7.77-6.397-13.043zm17.895.07c0 5.44 1.945 8.157 5.836 8.157 4.125 0 6.188-2.742 6.188-8.227 0-2.508-.504-4.453-1.512-5.836-1.03-1.382-2.484-2.073-4.36-2.073-1.85 0-3.34.68-4.464 2.04-1.126 1.36-1.688 3.34-1.688 5.94z" />
                        <path fill="#FF4563" d="M293.457 101.314H270.71V89.607h3.832V64.12h-3.832V52.41h23.415c5.344 0 9.703.33 13.078.984 3.398.656 6.598 2.004 9.598 4.043 2.978 2.062 5.32 4.85 7.032 8.366.844 1.688 1.488 3.493 1.934 5.414.445 1.922.668 3.938.668 6.047 0 4.242-.902 8.11-2.707 11.602-1.78 3.468-4.043 6.128-6.785 7.98-2.672 1.85-5.602 3.058-8.79 3.62-3.163.563-8.062.844-14.695.844zm0-37.195v25.487h1.793c4.453 0 7.348-1.183 8.684-3.55 1.313-2.368 1.97-5.345 1.97-8.93 0-2.157-.282-4.29-.845-6.4-.587-2.108-1.618-3.737-3.095-4.886-1.453-1.147-4.055-1.722-7.805-1.722h-.703zM359.832 101.314H332.34V90.59h4.64V77.936h-4.64V67.212h21.164v8.543c.797-2.132 2.027-3.973 3.69-5.52 1.595-1.523 3.212-2.52 4.853-2.988 1.57-.445 3.88-.668 6.926-.668v15.01c-.398-.022-.89-.034-1.477-.034-3.61 0-6.293.364-8.05 1.09-1.83.75-3.07 1.735-3.728 2.953-.68 1.265-1.03 2.93-1.055 4.99h5.168v10.724zM397.52 101.314h-24.152V90.59h3.516V77.936h-3.516V67.212h21.2v23.38h2.952v10.722zM375.407 57.58c0-1.85.95-3.34 2.848-4.465 1.875-1.125 4.195-1.688 6.96-1.688 2.837 0 5.122.586 6.856 1.758 1.712 1.195 2.567 2.65 2.567 4.36 0 1.85-.89 3.316-2.672 4.394-1.805 1.1-4.078 1.65-6.82 1.65-2.79 0-5.11-.503-6.96-1.51-1.853-.985-2.778-2.484-2.778-4.5zM430.25 101.736h-14.168l-12.762-23.8h-3.41V67.21h24.047v10.723h-3.797l5.66 12.973 5.977-12.973h-3.41V67.212h17.648v10.723h-3.305l-12.48 23.8zM477.606 90.52l14.59 1.794c-.656 1.524-1.57 2.89-2.742 4.096-1.172 1.208-2.602 2.256-4.29 3.146-3.397 1.828-7.464 2.742-12.198 2.742-7.945 0-13.922-1.652-17.93-4.957-4.008-3.28-6.012-7.58-6.012-12.9 0-5.204 1.98-9.54 5.94-13.01 3.915-3.467 9.224-5.202 15.927-5.202 6.446 0 11.696 1.64 15.75 4.922 3.985 3.258 6.106 8.215 6.364 14.87h-26.86c.07 5.533 2.134 8.298 6.19 8.298 2.436 0 4.194-1.266 5.272-3.797zm-11.25-8.93h9.95c.046-.702.07-1.1.07-1.194 0-1.85-.47-3.387-1.407-4.605-.94-1.194-2.18-1.792-3.728-1.792-1.594 0-2.813.656-3.656 1.97-.844 1.335-1.266 2.976-1.266 4.92 0 .258.012.492.036.703z" />
                    </svg>
                </a>
            </div>
            <div class="col-md-offset-1 col-md-7">
                <div class="top-menu">
                            <nav class="navbar navbar-default">
                                 <ul class="nav navbar-nav navbar-left">
                                    <li>@Html.ActionLink("Предложения", "Offers", "Home")</li>
                                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                                    <li>@Html.Partial("_LoginPartial")</li>
                                    @* <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>*@
                                </ul>
                        </nav>
                    <!--//navigation-->
                </div>
            </div>
        </div>
            <div class="body-content cf">
                @RenderBody()
            </div>
            <footer class="row footer">
                <div class="row">
                    <div class="row">
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 495.425 135.294">
                                <path fill-rule="evenodd" clip-rule="evenodd" fill="#737373" d="M220.638 111.83v8.877c1.348.736 2.775 1.318 4.227 1.81 1.98.676 4.014 1.195 6.063 1.612 2.43.497 4.892.854 7.36 1.115 3.8.405 7.62.574 11.442.615.42.003.842.005 1.262.005 6.35-.013 12.733-.354 18.983-1.523 1.91-.357 3.807-.794 5.668-1.35 1.82-.547 3.61-1.21 5.307-2.073l.235-.128.14-.076-.064-8.863c-1.72.556-3.477 1.017-5.242 1.42-7.163 1.628-14.52 2.26-21.854 2.44-1.057.018-2.115.03-3.172.033-1.4-.005-2.795-.018-4.19-.058-6.008-.167-12.023-.695-17.932-1.81-2.385-.454-4.755-1-7.082-1.696-.384-.113-.77-.232-1.15-.353zm22.764-1.342c1.84.1 3.683.16 5.527.185 3.214.046 6.43-.01 9.644-.185-.142-5.833.005-11.67.005-17.506.01-.402.09-.79.275-1.148.14-.276.33-.524.56-.73.23-.208.5-.373.788-.484.245-.094.508-.15.774-.164.893-.046 1.766.4 2.254 1.148.244.377.37.802.406 1.247.15 5.75.013 11.505.003 17.257 3.95-.382 7.888-.97 11.75-1.88 1.567-.368 3.122-.79 4.65-1.297.395-.13.79-.263 1.184-.407l-.34-47.017c1.64-.245 3.287-.458 4.92-.74.304-.055.603-.115.904-.186 1.632-.392 3.197-1.017 4.64-1.877 3.247-1.943 5.776-5.02 6.955-8.625.384-1.18.622-2.403.71-3.64.105-1.48 0-2.977-.325-4.426-.362-1.616-.99-3.172-1.85-4.588-1.023-1.69-2.366-3.182-3.935-4.383-1.713-1.312-3.683-2.278-5.767-2.827-2.378-.63-4.872-.706-7.29-.28l-.207.04-4.433.894c-.594-1.546-1.174-3.11-1.796-4.654-.877-2.13-2-4.156-3.4-5.99-2.32-3.038-5.37-5.494-8.9-6.984-5.9-2.492-12.735-2.156-18.638.156-.98.382-1.94.822-2.87 1.315-1.203.636-2.356 1.36-3.45 2.17-2.57 1.9-4.812 4.276-6.43 7.046-.472.815-.884 1.66-1.243 2.53l-.082.2-1.626 4.21c-1.543-.313-3.083-.64-4.63-.935-1.82-.318-3.68-.358-5.508-.085-3.822.57-7.388 2.502-9.918 5.426-1.5 1.73-2.618 3.785-3.23 5.993-.417 1.508-.594 3.076-.54 4.64.052 1.582.34 3.16.905 4.645.46 1.214 1.104 2.357 1.903 3.384 1.012 1.295 2.266 2.393 3.66 3.263 1.98 1.23 4.212 1.983 6.5 2.368l.193.03 4.535.67v48.206c1.94.727 3.942 1.28 5.955 1.757 3.03.71 6.106 1.222 9.192 1.6.847.103 1.695.194 2.542.277-.23-8.233.017-16.474.017-24.71.013-.374.08-.736.24-1.078.137-.288.326-.55.556-.766.195-.182.415-.33.655-.445.777-.364 1.707-.306 2.433.154.224.14.426.318.595.523.235.286.407.622.5.98.04.158.06.312.074.47.263 8.414.007 16.837.002 25.255zm42.894-1.62l.106 14.467c-.258.26-.556.486-.855.7-.536.39-1.105.737-1.685 1.06-1.958 1.09-4.065 1.893-6.197 2.566-1.245.396-2.51.73-3.78 1.028-1.954.458-3.93.822-5.918 1.115-4.975.736-10.004 1.032-15.032 1.108-.648.01-1.295.01-1.945.014-5.064-.01-10.133-.235-15.16-.87-3.59-.455-7.17-1.113-10.645-2.13-2.226-.65-4.424-1.447-6.483-2.514-.668-.347-1.318-.723-1.94-1.143-.407-.276-.807-.57-1.16-.908l-.024-.024V62.63c-.32-.05-.637-.1-.954-.155-.928-.175-1.85-.392-2.752-.668-1.943-.594-3.807-1.444-5.507-2.555-1.81-1.18-3.427-2.658-4.738-4.38-1.05-1.38-1.897-2.91-2.512-4.53-.73-1.928-1.13-3.972-1.222-6.03-.1-2.156.137-4.32.713-6.4.835-3.01 2.373-5.808 4.444-8.142 2.02-2.28 4.538-4.108 7.323-5.337 2-.88 4.133-1.454 6.303-1.697 2.31-.255 4.636-.134 6.91.326.096-.256.197-.508.3-.76.502-1.173 1.08-2.306 1.744-3.394 2.082-3.405 4.932-6.31 8.198-8.592 4.65-3.248 10.163-5.266 15.816-5.75 3.49-.298 7.037-.014 10.41.95 1.197.34 2.368.77 3.504 1.275 2.22.992 4.297 2.295 6.164 3.856 1.798 1.502 3.397 3.238 4.768 5.137 1.62 2.24 2.906 4.7 3.898 7.28.273-.056.544-.106.817-.154.832-.138 1.667-.234 2.51-.277 2.34-.122 4.7.13 6.96.756 2.72.753 5.282 2.048 7.5 3.79 2.046 1.61 3.794 3.598 5.115 5.84 1.163 1.977 1.993 4.147 2.436 6.398.392 2.003.48 4.065.266 6.096-.175 1.636-.55 3.248-1.113 4.793-.894 2.446-2.262 4.712-3.995 6.655-1.533 1.717-3.346 3.18-5.347 4.318-1.566.888-3.243 1.578-4.98 2.05-.852.23-1.717.403-2.59.535l.316 43.54.008.024c.146.47.14.974.004 1.44z" />
                                <path fill="#20A8FF" d="M36.852 101.314H9.184V89.607h4.254V64.12H9.184V52.41h29.883c5.86 0 10.395.34 13.605 1.02 3.164.703 5.648 2.098 7.453 4.184 1.805 2.133 2.707 4.618 2.707 7.453 0 2.765-.855 4.968-2.566 6.608-1.758 1.688-3.89 2.86-6.398 3.516 3.445 1.032 6.094 2.625 7.945 4.78 1.875 2.204 2.813 4.677 2.813 7.42 0 3.28-1.055 6.07-3.164 8.366-2.11 2.273-5.004 3.762-8.684 4.465-3.634.726-8.942 1.09-15.926 1.09zm-4.5-38.18v8.93h4.184c2.836 0 4.7-.41 5.59-1.23.844-.82 1.266-1.898 1.266-3.234 0-1.148-.387-2.18-1.16-3.094s-2.895-1.37-6.363-1.37H32.35zm0 17.824v9.633h4.254c2.72 0 4.676-.35 5.87-1.054 1.173-.703 1.76-1.945 1.76-3.727 0-1.665-.528-2.896-1.583-3.692-1.055-.773-3.094-1.16-6.117-1.16h-4.184zM94.19 101.314H70.04V90.59h3.515V77.936H70.04V67.212h21.198v23.38h2.953v10.722zM72.08 57.58c0-1.85.95-3.34 2.848-4.465 1.875-1.125 4.195-1.688 6.96-1.688 2.837 0 5.122.586 6.856 1.758 1.71 1.195 2.566 2.65 2.566 4.36 0 1.85-.89 3.316-2.672 4.394-1.805 1.1-4.078 1.65-6.82 1.65-2.79 0-5.11-.503-6.96-1.51-1.852-.985-2.778-2.484-2.778-4.5zM111.91 101.736h-10.934V90.908h10.23c2.625 2.766 5.496 4.148 8.613 4.148 3.14 0 4.71-.645 4.71-1.934 0-.656-.34-1.16-1.02-1.512-.703-.375-2.566-.926-5.59-1.652-2.438-.656-5.133-1.418-8.086-2.285-2.555-.726-4.57-1.64-6.047-2.742-1.523-1.1-2.543-2.18-3.06-3.233-.562-1.055-.843-2.438-.843-4.148 0-3.774 1.336-6.552 4.008-8.333 2.648-1.758 6.012-2.637 10.09-2.637 4.22 0 7.758.797 10.617 2.39v-1.757h10.792v9.914h-9.984c-2.484-2.367-5.438-3.55-8.86-3.55-2.694 0-4.042.714-4.042 2.144 0 .68.398 1.126 1.195 1.337.68.21 2.93.715 6.75 1.512 4.337.913 7.724 1.827 10.16 2.74 2.415.915 4.23 2.123 5.45 3.622 1.195 1.5 1.793 3.34 1.793 5.52 0 3.938-1.465 6.844-4.395 8.72-2.906 1.85-6.492 2.776-10.758 2.776-4.242 0-7.84-.773-10.793-2.32v2.108zM171.324 88.87v10.476c-1.148.773-2.813 1.454-4.992 2.04-2.297.608-4.5.913-6.61.913-2.647 0-4.92-.435-6.82-1.302-1.944-.89-3.41-2.086-4.394-3.586-.54-.867-.938-1.658-1.195-2.373-.258-.716-.445-1.518-.563-2.41-.164-1.546-.246-4.534-.246-8.964v-5.73h-4.36V67.212h4.36v-5.238l17.684-8.402v13.64h7.137v10.724h-7.137v6.61c0 2.156.2 3.597.598 4.323.375.726 1.172 1.09 2.39 1.09 1.148-.002 2.53-.365 4.148-1.09zM203.81 101.314h-27.493V90.59h4.64V77.936h-4.64V67.212h21.164v8.543c.798-2.132 2.028-3.973 3.692-5.52 1.594-1.523 3.21-2.52 4.852-2.988 1.57-.445 3.88-.668 6.926-.668v15.01c-.398-.022-.89-.034-1.477-.034-3.61 0-6.293.364-8.05 1.09-1.83.75-3.07 1.735-3.728 2.953-.68 1.265-1.03 2.93-1.055 4.99h5.168v10.724zM216.113 84.087c0-5.015 2.11-9.246 6.328-12.69s9.915-5.17 17.087-5.17c7.22 0 13.09 1.666 17.613 4.993 4.523 3.328 6.785 7.664 6.785 13.008 0 5.156-2.156 9.457-6.47 12.902-4.31 3.445-10.007 5.168-17.085 5.168-7.64 0-13.594-1.723-17.86-5.168-4.264-3.422-6.397-7.77-6.397-13.043zm17.895.07c0 5.44 1.945 8.157 5.836 8.157 4.125 0 6.188-2.742 6.188-8.227 0-2.508-.504-4.453-1.512-5.836-1.03-1.382-2.484-2.073-4.36-2.073-1.85 0-3.34.68-4.464 2.04-1.126 1.36-1.688 3.34-1.688 5.94z" />
                                <path fill="#FF4563" d="M293.457 101.314H270.71V89.607h3.832V64.12h-3.832V52.41h23.415c5.344 0 9.703.33 13.078.984 3.398.656 6.598 2.004 9.598 4.043 2.978 2.062 5.32 4.85 7.032 8.366.844 1.688 1.488 3.493 1.934 5.414.445 1.922.668 3.938.668 6.047 0 4.242-.902 8.11-2.707 11.602-1.78 3.468-4.043 6.128-6.785 7.98-2.672 1.85-5.602 3.058-8.79 3.62-3.163.563-8.062.844-14.695.844zm0-37.195v25.487h1.793c4.453 0 7.348-1.183 8.684-3.55 1.313-2.368 1.97-5.345 1.97-8.93 0-2.157-.282-4.29-.845-6.4-.587-2.108-1.618-3.737-3.095-4.886-1.453-1.147-4.055-1.722-7.805-1.722h-.703zM359.832 101.314H332.34V90.59h4.64V77.936h-4.64V67.212h21.164v8.543c.797-2.132 2.027-3.973 3.69-5.52 1.595-1.523 3.212-2.52 4.853-2.988 1.57-.445 3.88-.668 6.926-.668v15.01c-.398-.022-.89-.034-1.477-.034-3.61 0-6.293.364-8.05 1.09-1.83.75-3.07 1.735-3.728 2.953-.68 1.265-1.03 2.93-1.055 4.99h5.168v10.724zM397.52 101.314h-24.152V90.59h3.516V77.936h-3.516V67.212h21.2v23.38h2.952v10.722zM375.407 57.58c0-1.85.95-3.34 2.848-4.465 1.875-1.125 4.195-1.688 6.96-1.688 2.837 0 5.122.586 6.856 1.758 1.712 1.195 2.567 2.65 2.567 4.36 0 1.85-.89 3.316-2.672 4.394-1.805 1.1-4.078 1.65-6.82 1.65-2.79 0-5.11-.503-6.96-1.51-1.853-.985-2.778-2.484-2.778-4.5zM430.25 101.736h-14.168l-12.762-23.8h-3.41V67.21h24.047v10.723h-3.797l5.66 12.973 5.977-12.973h-3.41V67.212h17.648v10.723h-3.305l-12.48 23.8zM477.606 90.52l14.59 1.794c-.656 1.524-1.57 2.89-2.742 4.096-1.172 1.208-2.602 2.256-4.29 3.146-3.397 1.828-7.464 2.742-12.198 2.742-7.945 0-13.922-1.652-17.93-4.957-4.008-3.28-6.012-7.58-6.012-12.9 0-5.204 1.98-9.54 5.94-13.01 3.915-3.467 9.224-5.202 15.927-5.202 6.446 0 11.696 1.64 15.75 4.922 3.985 3.258 6.106 8.215 6.364 14.87h-26.86c.07 5.533 2.134 8.298 6.19 8.298 2.436 0 4.194-1.266 5.272-3.797zm-11.25-8.93h9.95c.046-.702.07-1.1.07-1.194 0-1.85-.47-3.387-1.407-4.605-.94-1.194-2.18-1.792-3.728-1.792-1.594 0-2.813.656-3.656 1.97-.844 1.335-1.266 2.976-1.266 4.92 0 .258.012.492.036.703z" />
                            </svg>

                        </a>
                    </div>
                    <div class="col-md-5">
                        <div class="footer-menu">
                            <ul>
                                <li>@Html.ActionLink("О нас", "About", "Home")</li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Отзывы и предложения</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="footer-menu-2">
                            <ul>
                                <li>&nbsp;</li>
                                <li><a href="#">Разработчикам</a></li>
                                <li><a href="#">Мобильные приложения</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 social-buttons">
                        <a href="#"><img src="../../images/icons/facebook-48.png" width="48" height="48" alt=""></a>
                        <a href="#"><img src="../../images/icons/twitter-48.png" width="48" height="48" alt=""></a>
                        <a href="#"><img src="../../images/icons/googleplus-48.png" width="48" height="48" alt=""></a>
                        <a href="#"><img src="../../images/icons/vk-48.png" width="48" height="48" alt=""></a>
                    </div>
                </div>

                <div class="row">
                    <p class="copyright">BistroDrive @DateTime.Now.Year &copy; Все права защищены </p>
                </div>
            </footer>
        </div>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function() {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [10, 300],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +" - $" + $("#slider-range").slider("values", 1));
        });
    </script>
    <script src="../Scripts/jquery.touchSwipe.min.js"></script>
    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/jcarousel.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

               
</body>
</html>
