@model BistroDriveWebApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Смена пароля";
}

<div class="col-md-10 col-md-offset-1 well signin settings-form">
    <h2>@ViewBag.Title</h2>
    <hr /><br />
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="input-group col-md-10 col-md-offset-1">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
        <div class="input-group col-md-10 col-md-offset-1">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="input-group col-md-10 col-md-offset-1">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="input-group col-md-10 col-md-offset-1">
            <input type="submit" value="Сменить" class="btn btn-default" />
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
