@model BistroDriveWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация аккаунта";
}

@*<h2>@ViewBag.Title.</h2>*@

<div class="row">
    <div class="col-md-10">
        <form class="login-form" action="">
            <fieldset>
                <span><legend>Регистрация аккаунта</legend></span>
            </fieldset>
        </form>
        <p class="centered-login">Уже есть аккаунт? Тогда @Html.ActionLink("жми сюда", "Login")</p>
    </div>
</div>
<div class="col-md-offset-4 col-md-4">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
     
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = " control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                
                <div class="agree"><input type="checkbox" class="agree" id="agree" /><label for="agree"></label></div>
                     <p class="confirm">Я прочёл(а) и Согласен(на) с <a href="#">Правилами использования</a></p>
              </div>
            <div class="form-group">
             
                   <input type="submit" class="btn-submit input-lg" value="Регистрация" />
            </div>
    }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
