@model BistroDriveWebApp.Models.AllDishListViewModel
@{
    ViewBag.Title = "Список предложений";
}
<div>
    <div class="row center-text">
        <div class="search">
            <h2 class="margin-b-title">Найди себе что-нибудь по вкусу</h2>
            <input type="search" class="search-input" id="search" placeholder="">
            <input class="btn search-btn" type="submit" value="Поиск">
        </div>
    </div>
    <div class="row content">
    <div class="col-md-4">
        <div class="left-sidebar">
            <h2 class="block-title">Категории:</h2>
            <form>
                <div class="checkboxes">
                    <div class="inline"><label for="check1">Первые блюда</label><input type="checkbox" id="check1" /><label for="check1"></label></div>
                    <div class="inline"><label for="check2">Вторые блюда</label><input type="checkbox" id="check2" /><label for="check2"></label></div>
                    <div class="inline"><label for="check3">Закуски</label><input type="checkbox" id="check3" /><label for="check3"></label></div>
                    <div class="inline"><label for="check4">Салаты</label><input type="checkbox" id="check4" /><label for="check4"></label></div>
                    <hr class="block-left-hr">
                    <div class="inline"><label for="check5">С выездом надом</label><input type="checkbox" id="check5" /><label for="check5"></label></div>
                    <div class="inline"><label for="check6">С обучением</label><input type="checkbox" id="check6" /><label for="check6"></label></div>
                </div>
            </form>
            <div class="select-menu">
                <span>Город</span>
                <select name="sity">
                    <option value="Харьков">Харьков</option>
                    <option value="Киев">Киев</option>
                    <option value="Полтава">Полтава</option>
                    <option value="Сумы">Сумы</option>
                </select>
            </div>
            <hr class="block-left-hr">
            <div class="select-menu">Ценовой диапазон</div>
            <p>
                <label for="amount">Цена:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <br>
            <div id="slider-range"> </div>
            <br>
        </div>
        <br>
        <p class="question">Если ты знаешь как нам стать лучше, то <a href="#">жми сюда!</a></p>
    </div>
        <div class="col-md-8 main-content">
            @foreach (var item in Model.DishList)
            {        <article>
        <h2 class="list-title">@Html.ActionLink(item.Name, "dishinfo", "profile", new { id = item.Id_Dish }, null)</h2>
        @* <div>@Html.ActionLink(item.aspnetuser.UserName + " (" + item.aspnetuser.FristName + " " + item.aspnetuser.Surname + ")", "index", "profile", new { id = item.aspnetuser.UserName }, null)</div>*@
        <span class="list-price"><b>приготовлю  </b>@item.Price</span>
        <span> - </span>
        <span class="list-menu">Первые блюда</span>
        <span> - </span>
        <span class="list-sity">Харьков</span>
        <span> - </span>
        <span class="list-type">с выездом на дом</span>
        <span class="list-data">выложено 15 дней назад</span>
        <div class="list-text">
            <p>@item.Description @Html.ActionLink("дальше", "dishinfo", "profile", new { id = item.Id_Dish }, new { @class = "list-readmore" })</p>
        </div>
        <div class="rating">
            <i class="fa fa-star fa-lg"></i>
            <i class="fa fa-star fa-lg"></i>
            <i class="fa fa-star fa-lg"></i>
            <i class="fa fa-star fa-lg"></i>
            <i class="fa fa-star-o fa-lg"></i>
        </div>
        <hr class="list-hr">
        @if (Model.PageCount > 0)
                {
            <div class="list-pangination text-center">
                @if (Model.Page != 0)
                    {
                    @*@Html.ActionLink("Первая", "offers", new { page = 0 }, htmlAttributes: new
                    { @class = "btn btn-default" })*@
                }
                @for (int i = 0; i < Model.PageCount; i++)
                    {
                        if (i == Model.Page)
                        {
                        @: @(i + 1)
            }
                        else
                        {
                        @Html.ActionLink((i + 1).ToString(), "offers", new { page = i }, htmlAttributes: new
                       { @*@class = "btn btn-default"*@ })@:
            }
                    }
                @if (Model.Page != Model.PageCount - 1)
                    {
                    @*   @Html.ActionLink("Последняя", "offers", new { page = Model.PageCount - 1 }, htmlAttributes: new
                    { @class = "btn btn-default" })*@
                }
            </div>

        }
    </article>



        @**<div>
                    @if (item.ImageUrl != "" && item.ImageUrl != null)
            {
                        <a href="@Url.Action("DishInfo", "Profile", new { id = item.Id_Dish })">
                            <img src="@Html.DisplayFor(Model => item.ImageUrl)" width="100" height="100" />
                        </a>
                    }
                </div>
                <div>
                        <p>Цена: </p>
                    <p>Цена с ингридиентами: @item.PriceWithIngridient</p>
                </div>
                <p>Описание: @item.Description</p>
        </div>*@
            }
        </div>

    </div>
</div>
